<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Rock, Paper, Scissors</title>
  </head>

  <body>

      <header> 
        <div class="wrapper_logo" style="background-image: url('/imgs/rps_title.png');"></div>   
      </header>

      <div class="container_result">
        <h4>Make your choise:</h4>
      </div>
      
      <div class="container_imgs">
          <a href="/play/rock"><img class="r_imgs" src="/imgs/rock1.jpg"/></a>
          <a href="/play/paper"><img class="r_imgs" src="/imgs/paper1.jpg"/></a>
          <a href="/play/scissors"><img class="r_imgs" src="/imgs/Scissors1.jpg"/></a>
      </div>

      <footer> 
        <div class="footImg">
          <p><strong>ALOHA</strong>ta  <img src="imgs/a_flower.png"/></p>
        </div>
      </footer>

  </body>
</html>

p